.experience-div{
    color: white;
    /*background-color: rgba(0,0,0,.13);*/
}

.experience-div >.row{
    /*border-bottom:1px dashed gainsboro;*/
    padding-left:40px;
    padding-right:40px;
    padding-top:60px;
    padding-bottom:70px;
}

.name div{
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #69E781;
}

.name div.active{
    background-color: #69E781;
    color:black;
    font-weight: bold;
}

.description p:first-child{
    color: gainsboro;
    text-decoration: none;
    font-weight: bold;
}

