.footer{
    color:whitesmoke;
    /*padding:20px;*/
}

.footer-content{
    display: inline-block;
    border-top:5px solid whitesmoke;
    padding: 20px;
}

.connection a{
    color: #B79BDC;
}

.connection a:hover{
    color: gainsboro;
    text-decoration: none;
}

.copyright{
    color: gainsboro;
    font-size: 15px;
}