@import url('https://fonts.googleapis.com/css?family=Merriweather');

nav{
    /*font-family: 'Merriweather', serif;*/
    font-size:15px;
    display: block;
}

.brand{
    width: 35px;
    border:1px solid #69E781;
}


.navbar-expand-lg .navbar-nav .nav-link{
    color:whitesmoke;
}


.navbar-toggler {
    border-color: #69E781;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105,231,129, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dots{
    width:8px;
}

.nav-link, .nav-link:visited {
    text-decoration: none;
    position: relative;
    color: #69E781;
}
.nav-link:after, .nav-link:visited:after{
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #69E781;
    transition: 0.5s;
}
.nav-link:hover:after, .nav-link:visited:hover:after {
    width: 100%;
}

.navbar-nav .active{
    color: #69E781 !important;
}