
.work-header {
    font-family: 'IM Fell English SC', serif;
    color:#B79BDC;
}

.work-logo{
    height: 100px;
}

.portfolio-intro{
    background: whitesmoke;
    color: #06152C;
}

.portfolio-intro-header{
    color: slategray;
    font-size: 25px;
    font-weight: bold;
}

.portfolio-intro-div{
    padding-top: 40px;
    padding-bottom: 40px;
}

.portfolio-logo{
    height: 100px;
    width: 100px;
}

.project-one,.project-three,.project-five,.project-seven{
    color:whitesmoke;
    background-color: #31355b;;
}

/*.project-two{*/
    /*color:whitesmoke;*/
    /*background-color: slategray;*/
/*}*/

.project-two,.project-four,.project-six,.project-eight{
    color:whitesmoke;
    background-color: steelblue;
}


.portfolio-div{
    color: whitesmoke;
}
/**
Project styles
 */

.project-div{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left:20px;
    padding-right:20px;
}


.project-image{
    max-width:650px;
    width:100%;
    box-shadow:
            0 0 0 20px black,
            0 0 0 25px silver;
    border-radius: 1%;
}

.project-name{
    color: white;
    font-weight: bold;
}

.project-tech div{
    padding:5px;
    border-radius: 5px;
    background: rgba(0,0,0,.14);
    font-size: 14px;
    word-wrap:break-word;
    display: inline-block;

}

.project-tech span:not(:last-child){

    margin-right:5px;
}

.project-buttons .btn{
    text-transform: uppercase !important;
    background: rgba(0,0,0,.4);
    color:whitesmoke;
    border: 2px solid rgba(0,0,0,.1);
    font-weight: bold;
}

.project-buttons .btn:hover{
    background: #2a4444;
}


.project-header{
    font-family: 'IM Fell English SC', serif;
    color:#B79BDC;
}

.left{
    color:whitesmoke;
}


